body {
  background: black;
  background-image: radial-gradient(white 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
  font-family: "Monda", monospace;
}

.glass {
/* From https://css.glass */
background: rgba(130, 255, 209, 0.1);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2px);
-webkit-backdrop-filter: blur(2px);
border: 1px solid rgba(130, 220, 209, 0.3);
}

.important, .navbar {
  font-family: "Victor Mono", monospace;
}

.mask {
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  mask: radial-gradient(
    circle at var(--mouse-x) var(--mouse-y),
    transparent 40px,
    black 150px
  );
  -webkit-mask: radial-gradient(
    circle at var(--mouse-x) var(--mouse-y),
    transparent 40px,
    black 150px
  );
  position: fixed;
}

.bottom_mask {
  width: 100vw;
  height: 30vh;
  background-color: rgb(0, 0, 0);
  mask: linear-gradient(to bottom, transparent, black);
}

.fancy-btn {
  border: 1px solid;
  overflow: hidden;
  position: relative;
  
  span {
    z-index: 20;
  }
  
  &:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
  }
}

.fancy-btn:hover {
  
  &:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.show {
  opacity: 0.999;
}

.fa {
  padding-top: 7px;
  padding-left: 1px;
  font-size: 15px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-discord {
  background: #5865f2;
  color: white;
}

.fa-github {
  background: #010409;
  color: white;
}

.sans-serif {
  font-family: sans-serif;
}

.cards {
  display: flex;
}

.overlap-card:nth-child(1) { width: 1000px; }
.overlap-card:nth-child(2) { width: 1000px; margin-left: -800px; margin-top: 20px; margin-bottom: -20px; }
.overlap-card:nth-child(3) { width: 1000px; margin-left: -800px; margin-top: 40px; margin-bottom: -40px; }

code {
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.card-body {
  margin: 10px;
}
